body, h1,h2,h3,h4,h5 {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
}
.exercise {
  overflow: auto;
  border: 1px solid #efefef;
  background: #fafafa;
  padding: 0.5em;
}
li:nth-child(2n+1) {
}
.remove {
}
.without-label {
  padding-top: 1.5em;
}
.create .without-label {
  padding-top: 1em;
}
a.with-buttons {
  display: inline-block;
  padding: 0 0.5rem;
}
