body {
  font-family: helvetica;
}
ul {
  list-style-type:none;
  padding: 0;
}
li {
  padding: 0.5em;
  width: 45em;
  position: relative;
  margin-bottom: 1em;
}
li:nth-child(2n+1) {
  background: #B5E4FF;
}
.remove {
  position: absolute;
  top: -0.55em;
  right: -0.55em;
  background: #888;
  border-radius: 0.75em;
  width: 1.5em;
  height: 1.5em;
  display: inline-block;
  color: #fff;
  font-weight: 900;
  font-size: 0.8em;
  text-align: center;
  line-height: 1.5em;
  box-shadow: 0px 0px 0px 1px #000;
}
